[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
dropbox = "*"
s3fs = "*"

[dev-packages]
pre-commit = "==2.2.0"
black = "==19.10b0"
cfgv = "*"

[requires]
python_version = "3.6"
